<html>
    <head>
        <link href="css/cute_basic.css?version=6" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>/a/cute.tv</title>
    </head>
    <body>
        
    <div class="cute_content">
        <img id="logo" src="l.png">
        <div id="cute_nav">
            <div id="cute_nav_c">
                <a class="active" href="/">Stream</a>
            </div>
                <a href="/staff">Staff</a>
                <a href="/about">About</a>
            <div id="cute_nav_r">
                <a href="https://github.com/applesaucyy/acutetv" target="_blank">Repo</a>
                <button onclick="document.getElementById('cute_login').style.display='block'" style="width:auto;">Sign In</button>
            </div>
        </div>
        <div id="cute_login" class="modal">
            <div class="cute_login_c">
                <h4>**ACCOUNTS ARE MADE BY THE ADMIN ONLY. PASSWORDS ARE CHANGED AND RECOVERED MANUALLY. FOR EITHER OF THESE INQUIRIES, CONTACT THE ADMIN. YOU SHOULD ALREADY HAVE THEIR INFORMATION**</h4>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
        
                <button type="submit">Login</button>
            </div>
        </form>
        </div>
        <script>
        // Get the modal
        var modal = document.getElementById('cute_login');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
            modal.style.display = "none";
            }
        }
        </script>
        <h2>Welcome to a-cute.tv. A 24/7 video station to watch cute and dumb stuff. Mainly anime. This site is new and i'm not really a web-dev kind of person, so bear with me if the site fucks up. Uh, source repo is <a href="https://github.com/applesaucyy/acutetv">here</a>. Ok, thats all. More updates coming soon!</h2>
    </div>
    
    </body>
</html>

