<html>
    <head>
        <link href="css/cute_basic.css?version=6" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="dist/shaka-player.compiled.js"></script>
        <title>tv/a/cute</title>
    </head>
    <body>
        
    <div class="cute_content">
        <img id="logo" src="l.png">
        <div id="cute_nav">
            <div id="cute_nav_c">
                <a class="active" href="/">Stream</a>
            </div>
                <a href="/staff">Staff</a>
                <a href="/about">About</a>
            <div id="cute_nav_r">
                <a href="https://github.com/applesaucyy/acutetv" target="_blank">Repo</a>
            </div>
        </div>
        <video id="video_con" width="1280" height="720" poster="loading.png" playsinline></video>
        
        <button onclick="togglePlay()" type="button">Play/Pause</button><br> 
        <script>
        var vid = document.getElementById("video_con");
        
        function togglePlay() {
            return vid.paused ? vid.play() : vid.pause();
        };  
        </script>
        <input id="volume_slider" type="range" min="0" max="100" step="1" value="50" oninput="SetVol(this.value)" onchange="SetVol(this.value)"></input>
        <script>
            function SetVol(val) {
                var vid = document.getElementById('video_con');
                vid.volume = val / 100;
            }
        </script>
        <script>
            window.onload = function() {
            shaka.polyfill.installAll();
            
            var ws = new WebSocket("ws://" + location.host + "/video");
            
            if(shaka.Player.isBrowserSupported()) {
                initSystem();
            } else {
                alert("Your browser does not support: Shaka Player");
            }           
            
            function initSystem() {
            var vid = document.getElementById('video_con');
            var player = new shaka.Player(vid);
            window.player = player;
            
            player.addEventListener('error', onErrorEvent);
            vid.addEventListener('ended', loadNewVideo, false);
            
            function loadVideo() {
                player.load("<%=video_list[current_video]%>").then(function() {
                    vid.currentTime = <%= video_position %>;
                    vid.play();
                }).catch(onError);
            };
             
            function onErrorEvent(event){
                onError(event.detail)
            }
            
            function onError(error){
                console.error('Error code', error.code, 'object', error);   
            }
            
            function loadNewVideo() {
                location.reload();
                loadVideo();
            }
            
            ws.onopen = function(e) {
                loadVideo();
            };
            }
            
            
            }
        </script>
        <div id="vj_info">
            <img id="c_vj_avi" src="vj_avi/avi3.png">
            <table id="vj_name">
                <tr>
                    <th>Current VJ</th>
                </tr>
                <tr>
                    <td><h2>cutiechan</h2></td>
                </tr>
            </table>
            <div id="site_news">
                <h2>Site News</h2>
                <table id="n_post_con">
                    <tr class="n_post">
                        <th style="display: inline-block;">#3 <p style="text-decoration: none;font-weight: normal;font-size: 14px;display: inherit;margin:0;"><%= server_stime.to_s("%Y-%m-%d / %H:%S") %></p></th>
                        <td>Ohayou! I added a new HTML player that will hopefully fix some of the buffering issues aswell as the constant reloading. Hopefully</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    </body>
</html>
