<html>
    <head>
        <link href="css/cute_basic.css?version=6" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>/a/cute.tv</title>
    </head>
    <body>
        
    <div class="cute_content">
        <img id="logo" src="l.png">
        <div id="cute_nav">
            <div id="cute_nav_c">
                <a class="active" href="/">Stream</a>
            </div>
                <a href="/staff">Staff</a>
                <a href="/about">About</a>
            <div id="cute_nav_r">
                <a href="https://github.com/applesaucyy/acutetv" target="_blank">Repo</a>
            </div>
        </div>
        <video id="video_con" width="1280" height="720" preload="auto"></video>
        <button onclick="togglePlay()" type="button">Play/Pause</button><br> 
        <script>
        var vid = document.getElementById("video_con");
        
        function togglePlay() {
			return vid.paused ? vid.play() : vid.pause();
		};	
        </script>
        <script>
			window.onload = function() {
			var ws = new WebSocket("wss://" + location.host + "/video");
            var vid = document.getElementById('video_con');
            vid.addEventListener('ended', loadNewVideo, false);
			
                       
            function loadVideo(n) {
				vid.setAttribute("src", "<%=video_list[current_video]%>");
				vid.load();
				vid.play();
			};
			
			loadVideo(0);
			 
			function loadNewVideo() {
				location.reload();
				loadVideo(<%= current_video %>)
			}
			 
			ws.onopen = function(e) {
				loadVideo(<%= current_video %>);
				vid.currentTime = <%= video_position %>
			};
			
			}
				
		</script>
        <div id="vj_info">
            <img id="c_vj_avi" src="vj_avi/avi3.png">
            <table id="vj_name">
                <tr>
                    <th>Current VJ</th>
                </tr>
                <tr>
                    <td><h2>cutiechan</h2></td>
                </tr>
            </table>
            <div id="site_news">
                <h2>Site News</h2>
                <table id="n_post_con">
                    <tr class="n_post">
                        <th style="display: inline-block;">#2 <p style="text-decoration: none;font-weight: normal;font-size: 14px;display: inherit;margin:0;">08 Apr 2019 (Mon)</p></th>
                        <td>A BETA</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    </body>
</html>
