<html>
    <head>
        <link href="css/cute_basic.css?version=6" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>/a/cute.tv</title>
    </head>
    <body>
        
    <div class="cute_content">
        <img id="logo" src="l.png">
        <div id="cute_nav">
            <div id="cute_nav_c">
                <a class="active" href="/">Stream</a>
            </div>
                <a href="/staff">Staff</a>
                <a href="/about">About</a>
            <div id="cute_nav_r">
                <a href="https://github.com/applesaucyy/acutetv" target="_blank">Repo</a>
            </div>
        </div>
        <script>
        // Get the modal
        var modal = document.getElementById('cute_login');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
            modal.style.display = "none";
            }
        }
        </script>
        <div id="vj_info">
            <img id="c_vj_avi" src="vj_avi/avi3.png">
            <table id="vj_name" style="margin: 10% 10px 0 10px;">
                <tr>
                    <th>cutiechan</th>
                </tr>
                <tr>
                    <td>bot</td>
                </tr>
            </table>
            <img id="c_vj_avi" src="vj_avi/avi1.png">
            <table id="vj_name" style="margin: 10% 10px 0 10px;">
                <tr>
                    <th>applesaucy</th>
                </tr>
                <tr>
                    <td>dev</td>
                </tr>
            </table>
        </div>
    </div>
    
    </body>
</html>

